<div align="center" class="loginContainer">
  <h1>Officer Dashboard</h1>
  <md-card align="center" flex flex-gt-xs="30">
    <div layout="column" layout-padding>
      <md-content class="autoScroll">
        <h1>Sign In</h1>
        <md-input-container md-no-float class="md-block">
          <input ng-model="landing.email" type="text" placeholder="Email">
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input ng-model="landing.password" type="password" placeholder="Password">
        </md-input-container>
      </md-content>
      <md-button ng-click="landing.signIn()" class="md-raised">Sign In</md-button>
    </div>
  </md-card>
</div>
