<ui-gmap-google-map center="dashboard.map.center" zoom="dashboard.map.zoom">
  <div ng-repeat="marker in dashboard.emergencies">
    <ui-gmap-marker idKey="0" coords="marker.coords">
      <ui-gmap-window show="true">
        <div>{{marker.name}}</div>
      </ui-gmap-window>
    </ui-gmap-marker>
  </div>
</ui-gmap-google-map>
<div>
  <md-content class="md-padding" id="alert_container">
    <div layout="column" layout-gt-xs="row" ng-repeat="emergency in dashboard.emergencies">
      <md-card flex flex-gt-xs="30">
        <h2>Emergency {{$index + 1}}</h2>
        <md-card-content>
          <p>Time: {{emergency.timestamp}}</p>
          <p>Location: {{emergency.location}}</p>
          <p>Name: {{emergency.name}}</p>
          <p>Phone: {{emergency.phone}}</p>
        </md-card-content>
        <md-button class="md-raised" ng-click="dashboard.centerOn(emergency)">Center and Zoom</md-button>
      </md-card>
    </div>
  </md-content>
</div>
