<!-- Map -->
<ui-gmap-google-map center="dashboard.map.center" zoom="dashboard.map.zoom">

  <!-- Markers (Active) -->
  <ui-gmap-marker ng-if="!dashboard.showInactive && marker.active" ng-repeat="marker in dashboard.emergencies" idKey="0" coords="marker.location">

    <!-- Marker Label -->
    <ui-gmap-window show="true">
      <div>{{marker.name}}</div>
    </ui-gmap-window>
  </ui-gmap-marker>

  <!-- Markers (Inactive) -->
  <ui-gmap-marker ng-if="dashboard.showInactive && !marker.active" ng-repeat="marker in dashboard.emergencies" idKey="0" coords="marker.location">

    <!-- Marker Label -->
    <ui-gmap-window show="true">
      <div>{{marker.name}}</div>
    </ui-gmap-window>
  </ui-gmap-marker>
</ui-gmap-google-map>

<!-- List of Emergencies (Right Side) -->
<md-content class="md-padding" id="alert_container">

  <!-- Toggle Emergencies (Active or Inactive) -->
  <div class="emergencyToggle">
    <md-switch ng-init="dashboard.showInactive = false" ng-model="dashboard.showInactive" class="md-primary" md-no-ink>Show Inactive Emergencies</md-switch>
  </div>

  <!-- Logout Button -->
  <div align="right">
    <md-button class="md-raised" ng-click="dashboard.logout()">Logout</md-button>
  </div>

  <!-- Emergencies (Active) -->
  <div layout="column" layout-gt-xs="row" ng-if="!dashboard.showInactive && emergency.active" ng-repeat="emergency in dashboard.emergencies">

    <!-- Card Wrapper -->
    <md-card flex flex-gt-xs="30">

      <!-- Emergency ID -->
      <h2>Emergency {{emergency.uniqueID}}</h2>

      <!-- Emergency Information -->
      <md-card-content>
        <p>Name: {{emergency.name}}</p>
        <p>Phone: {{emergency.phone}}</p>
        <p>Time: {{emergency.started}}</p>

        <!-- Center On Button -->
        <md-button class="md-raised" ng-click="dashboard.centerOn(emergency)">Center On</md-button>

        <!-- Set Inactive Button -->
        <md-button class="md-raised closeBtn" ng-click="dashboard.closeEmergency(emergency)">Set Inactive</md-button>
      </md-card-content>
    </md-card>
  </div>

  <!-- Emergencies (Inactive) -->
  <div layout="column" layout-gt-xs="row" ng-if="dashboard.showInactive && !emergency.active" ng-repeat="emergency in dashboard.emergencies">

    <!-- Card Wrapper -->
    <md-card flex flex-gt-xs="30">

      <!-- Emergency ID -->
      <h2>Emergency {{emergency.uniqueID}}</h2>

      <!-- Emergency Informaton -->
      <md-card-content>
        <p>Name: {{emergency.name}}</p>
        <p>Phone: {{emergency.phone}}</p>
        <p>Time: {{emergency.started}}</p>

        <!-- Center On Button -->
        <md-button class="md-raised" ng-click="dashboard.centerOn(emergency)">Center On</md-button>

        <!-- Set Active Button -->
        <md-button class="md-raised closeBtn" ng-click="dashboard.openEmergency(emergency)">Set Active</md-button>
      </md-card-content>
    </md-card>
  </div>
</md-content>
