<!-- Map -->
<ui-gmap-google-map center="dashboard.map.center" zoom="dashboard.map.zoom">

  <!-- Heatmap Layer -->
  <ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="dashboard.showHeatMap" onCreated="dashboard.insertHeatLayer" options="{radius: 23}"></ui-gmap-layer>

  <!-- Markers (Active) -->
  <ui-gmap-marker options="{animation: dashboard.map.animation}" ng-if="dashboard.showActive && emergency.active" ng-repeat="emergency in dashboard.emergencies | filter: searchText" idKey="emergency.id" coords="emergency.locations[emergency.locations.length - 1]">

    <!-- Movement Path (Active) -->
    <ui-gmap-polyline ng-if="dashboard.showActive && emergency.active" path="emergency.locations" stroke="{color: '#6060FB', weight: 5, opacity: 0.6}"></ui-gmap-polylines>

    <!-- Marker Label -->
    <ui-gmap-window show="true">
      <div>{{emergency.by}}</div>
    </ui-gmap-window>
  </ui-gmap-marker>

  <!-- Markers (Inactive) -->
  <ui-gmap-marker options="{animation: dashboard.map.animation}" ng-if="dashboard.showInactive && !emergency.active" ng-repeat="emergency in dashboard.emergencies | filter: searchText" idKey="emergency.id" coords="emergency.locations[emergency.locations.length - 1]">

    <!-- Movement Path (Inactive) -->
    <ui-gmap-polyline ng-if="dashboard.showInactive && !emergency.active" path="emergency.locations" stroke="{color: '#6060FB', weight: 5, opacity: 0.6}"></ui-gmap-polylines></ui-gmap-polylines>

    <!-- Marker Label -->
    <ui-gmap-window show="true">
      <div>{{emergency.by}}</div>
    </ui-gmap-window>
  </ui-gmap-marker>
</ui-gmap-google-map>

<!-- List of Emergencies (Right Side) -->
<md-content class="md-padding" id="alert_container">

  <!-- People Search -->
  <md-input-container md-no-autogrow="true" class="search">
    <input type="text" ng-model="searchText" placeholder="Person or Emergency ID">
  </md-input-container>

    <!-- Logout Button -->
    <md-button class="md-raised sign-out-button" ng-click="dashboard.signOut()">Sign Out</md-button>
    <div layout="row">
      <div flex="50" class="checkboxes">

        <!-- Toggle Emergencies (Active) -->
        <md-checkbox class="md-primary" ng-model="dashboard.showActive" aria-label="Active">Active</md-checkbox>

        <!-- Toggle Emergencies (Inactive) -->
        <md-checkbox class="md-primary" ng-model="dashboard.showInactive" aria-label="Inactive">Inactive</md-checkbox>
      </div>

      <!-- Heatmap Toggle -->
      <md-switch ng-init="dashboard.showHeatMap = false" ng-model="dashboard.showHeatMap" class="md-primary heatmap-toggle" md-no-ink>Show Heat Map</md-switch>

      <!-- Fake Emergency Button (For Debugging)-->
      <!-- <md-button class="md-raised" ng-click="dashboard.fakeEmergency()">Fake Emergency</md-button> -->
    </div>

  <!-- Emergencies (Active) -->
  <div layout="column" layout-gt-xs="row" ng-if="dashboard.showActive && emergency.active" ng-repeat="emergency in dashboard.emergencies | filter: searchText | orderBy: '-started'">

    <!-- Card Wrapper -->
    <md-card flex flex-gt-xs="30">

      <!-- Emergency ID -->
      <h2>Emergency {{emergency.id}}</h2>

      <!-- Emergency Information -->
      <md-card-content>
        <p>Name: {{emergency.by}}</p>
        <p>Phone: {{emergency.phone}}</p>
        <p>Started: {{emergency.started | date: 'short'}}</p>

        <!-- Center On Button -->
        <md-button class="md-raised" ng-click="dashboard.centerOn(emergency)">Center On</md-button>

        <!-- Set Inactive Button -->
        <md-button class="md-raised closeBtn" ng-click="dashboard.closeEmergency(emergency)">Set Inactive</md-button>
      </md-card-content>
    </md-card>
  </div>

  <!-- Emergencies (Inactive) -->
  <div layout="column" class="inactiveEmergency" layout-gt-xs="row" ng-if="dashboard.showInactive && !emergency.active" ng-repeat="emergency in dashboard.emergencies | filter: searchText | orderBy: '-started'">

    <!-- Card Wrapper -->
    <md-card flex flex-gt-xs="30">

      <!-- Emergency ID -->
      <h2>Emergency {{emergency.id}}</h2>

      <!-- Emergency Informaton -->
      <md-card-content>
        <p>Name: {{emergency.by}}</p>
        <p>Phone: {{emergency.phone}}</p>
        <p>Started: {{emergency.started | date: 'short'}}</p>
        <p>Ended: {{emergency.ended | date: 'short'}}</p>

        <!-- Center On Button -->
        <md-button class="md-raised" ng-click="dashboard.centerOn(emergency)">Center On</md-button>

        <!-- Set Active Button -->
        <md-button class="md-raised closeBtn" ng-click="dashboard.openEmergency(emergency)">Set Active</md-button>
      </md-card-content>
    </md-card>
  </div>
</md-content>
