<html>
  <head>
  </head>
  <body ng-app="app">
    <div class="login-form">
      <h1>Sign Up</h1>
      <div class="form-group" ng-controller="signUpController as signup"></div>
      <form action="/signup" class="signup">
        <input class="loginForm" type="text" name="username" ng-model="signup.username" placeholder="Username">
        <input type="password" name="password" ng-model="signup.password" placeholder="Password">
        <button class="signupButton" ng-click="signup.submit()">Sign Up!</button>
    </div>
  </body>
</html>
