.angular-google-map-container {
  height: 99%;
  width: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

html, body {
  background-color: #e6e6e6;
}

#alert_container {
  position: absolute;
  right: 0px;
  width: 29%;
  float: right;
  overflow-y: scroll;
  height: 99%;
}

.md-padding {
  padding: 4px;
  background-color: #e6e6e6;
  padding-bottom: 0px;
}

.md-padding h2 {
  margin: 5px;
  padding: 5px;
}

.closeBtn {
  float: right;
}

.emergencyToggle {
  padding-left: 10px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.inactiveEmergency {
  color: gray;
}

.login-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.checkboxes {
  margin-top: 20px;
  padding-left: 8px;
}

.heatmap-toggle {
  padding-left: 20px;
}

.sign-out-button {
  left: 82px;
}

.search {
  height: 20px;
}

.school-selector {
  background-color: white;
  margin-left: 110px;
}

.password-input {
  width: 151px;
}
