.angular-google-map-container {
  height: 100%;
  width:70%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

html, body {
  background-color: #e6e6e6;
}

#alert_container {
  position: absolute;
  right: 0px;
  width: 29%;
  float: right;
  overflow-y: scroll;
  height: 100%;
}

.md-padding {
  padding: 4px;
  background-color: #e6e6e6;
  padding-bottom:0px;
}

.md-padding h2 {
  margin: 5px;
  padding: 5px;
}
